@import '~bulma';

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
}
// html {
//     height: 100%;
// }
// body {
//     min-height: 100vh;
//     background: #f2f2f2;
// }

button {
    @extend .button;
}

input {
    @extend .input;
}

/* Custom Utilities */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}
